@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

h1, h3, p, a{
    font-family: 'Roboto', sans-serif;
}

p{
    font-weight: 300;
}

nav{
    z-index: 9999;
}

.bg-banner{
    background: url('images/background_banner.jpg');
    background-size: cover;
    z-index: 0;
}